body {
    background-color: lightblue;
    font-size: 200%;
}

/*h1 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}*/

.laurie {
  font-weight: bold;
}
